.top-toolbar {
  background-color: var(--pf-global--BackgroundColor--100)
}

.table-filter {
  background-color: var(--pf-global--BackgroundColor--100);
  display: flex;
}

.toolbar-filter-input-group {
  position: relative;
  width: 300px;
  height: 36px;
  input {
    position: absolute;
    width: 300px;
    background: transparent;
  }
  svg {
    vertical-align: -0.125em;
    z-index: 1000;
    position: absolute;
    right: 8px;
    top: 10px;
    fill: #72767B
  }
}

/**
* Update DDF select styles for select component
*/
.filter-select {
  width: 300px;
  .filter-value-container {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .ddorg__pf4-component-mapper__select__indicators {
    margin-left: auto
  }
  .ddorg__pf4-component-mapper__select__placeholder {
    margin-left: 29px !important;
  }
  .ddorg__pf4-component-mapper__select__single-value {
    padding-top: 4px !important;
    margin-left: 22px !important;
  }
  .ddorg__pf4-component-mapper__select__control::before {
    border-right: none !important;
  }
  .ddorg__pf4-component-mapper__select__control {
    min-height: 36px !important;
  }
}
