.top-toolbar {
  background-color: var(--pf-global--BackgroundColor--100)
}

/**
* Update DDF select styles for select component
*/
.filter-select {
  width: 300px;
  .filter-value-container {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .ddorg__pf4-component-mapper__select__indicators {
    margin-left: auto
  }
  .ddorg__pf4-component-mapper__select__placeholder {
    margin-left: 29px !important;
  }
  .ddorg__pf4-component-mapper__select__single-value {
    margin-left: 22px !important;
  }
  .ddorg__pf4-component-mapper__select__control::before {
    border-right: none !important;
  }
  .ddorg__pf4-component-mapper__select__control {
    min-height: 36px !important;
  }
}